/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:wght@100;200;300;400;600&display=swap');

:root {

	/* color scheme */
	--green: #44693D;
	--purple: #600080;
	--lightbrown: #e4ccc0;
	--white: #fffdfa;
    --grey: #363737;
    --black: #010101;
}


/* ----------------------------------------
CSS RESET
-----------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Raleway', sans-serif; 
	color: var(--black);
	scroll-behavior: smooth;
	background-color: var(--white);
}

body, html {
	margin:0;
	padding:0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	font:inherit;
}
input,
textarea,
select,
::placeholder {
	font: inherit;
	color: var(--white);
	font-size: 1.2 em;
}

/* ----------------------------------------
GLOBAL STYLING
-----------------------------------------*/
#contact , #footer, header {
	background-color: var(--green);
	color: var(--white);
}

html h1,h2,h3,h4,h5,h6 {
	color: var(--purple);
	font-family: 'Playfair Display', serif;
}

#contact h2 {
	color: var(--lightbrown);
}

/* remove links underline and format according to theme */
nav li a {
	text-decoration: none;
	color: var(--white);
}

/* hover animation over nav links */
nav li a:hover {
		border-bottom: 2px solid var(--lightbrown);
		font-weight: 700;
	}


button {
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--lightbrown);
	border-radius: 10px;
	color: var(--white);
}

button:hover {
	color: var(--black);
	background-color: var(--lightbrown);
	font-weight: 700;
}



/* ----------------------------------------
HEADER SECTION 
-----------------------------------------*/

.hamburger-button {
	border: none;
}

.header-logo {
	width: 75px;
}

nav .contact-btn {
	font-size: 1.25em;
	margin-left: 40px;
}

.desktop-nav {
	display: none;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Desktop Mode */
@media (min-width: 768px) {

	/* Place the 3 items in the header in a row withe spaces in between */
	header {
		display:flex;
		align-items: center;
		justify-content: space-between;
		padding: 24px;
	}

	/* Display the About, Portfolio and Contact button in a row */
	.desktop-nav {
		display: flex;
	}

	/* remove links underline and format according to theme */
	.desktop-nav li a {
		font-size: 1.25em;
	}

	/* Display the nav items in a row */
	header nav ul {
		display: flex;
		gap: 40px;
	}

	/* remove hamburger icon */
	.hamburger-button, .mobile-nav {
		display: none;
	}
}

/* ----------------------------------------
HERO BANNER 
-----------------------------------------*/
#hero-banner {
	/* Sizing */
	width: 100vw;
	height: 100vh;

	/* Flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Adjust personal logo sizing */
.hero-image {
	width: 300px;
	height: auto;
}

.hero-text h1 {
	font-size: 2em;
}

/* ----------------------------------------
PROJECTS SECTION 
-----------------------------------------*/

#projects {
	padding: 100px 50px;
	text-align: center;
}

#projects img {
	width: 100%;
	border-radius: 60px;
}

.portfolio-one-cntr,
.portfolio-two-cntr,
.portfolio-three-cntr,
.portfolio-four-cntr {
	width: 500px;
	position: relative;
	margin: 16px;
}

.overlay{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	position: absolute;
	border-radius: 60px;
	background-color: rgba(0,0,0,0.9);
	transition: 0.6s ease;
	text-align: center;
	cursor: pointer;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* display: none; */
}

.overlay:hover {
	opacity: 1;
}

.overlay h3 {
	color: var(--lightbrown);
}

.overlay p, li {
	color: var(--white);
}

/* Desktop Mode */
@media (min-width: 768px) {
	
	/* Display projects in a 4 x 4 grid */
	.firstRow, .secondRow {
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

}

/* ----------------------------------------
ABOUT ME
-----------------------------------------*/
#aboutme, #personal-note {
	padding: 40px 100px;
	text-align: center;
}

.my-portrait {
	width: 500px;
	display: inline-block;
	justify-content: center;
}

/* ----------------------------------------
FOOTER - CONTACT SECTION 
-----------------------------------------*/
.smallerTextContact {
	color:bisque;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.contact-info {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* center align contact message */
.contact-info p {
	text-align: center;
}

/* display icons in a row */
.social-icons li{
	display: inline-block;
	margin: 16px;
}

/* format social icons */
.fa-brands {
	color: #fffdfa;
	padding: 10px;
	font-size:32px;
}

.contact-form {
	justify-content: center;
	padding: 16px;
}


/* format the form to be minimalist */
.form-input {
	border: 0;
	background: none;
	border-bottom: 2px solid var(--lightbrown);
	padding: 8px;
	margin: 8px;
}

/* display the form objects vertically and centered */
.contact-form form {
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	max-width: 400px;
}

/* set button to a smaller size than form and align center */
.send-btn {
	width: 60%;
	align-self: center;
	margin-top: 24px;
	padding: 10px;
}

/* Desktop Mode
- divide contact section into 2 columns 
- display contact info on the left
- display contact form on the right */

@media (min-width: 768px) {
	
	/* display the contact info and form in a 1x2 grid */
	.contact-container {
		display: flex;
		justify-content: space-between;
	}

	/* set info width to 50% of the screen */
	.contact-info {
		width: 50%;
		text-align: center;
	}

	/* set form width to 50% of the screen */
	.contact-form {
		width: 50%;
	}
}


/* ----------------------------------------
FOOTER 
-----------------------------------------*/

#footer {
	padding: 24px;
}

.footer-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Footer nav bar in a row*/
.footer-nav ul {
	display: flex;
	gap: 24px;
}

/* Footer nav bar formatting */
.footer-nav ul li a {
	color: var(--white);
	text-decoration: none;
}
