/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:wght@100;200;300;400;600&display=swap');
/* ----------------------------------------
CSS RESET
-----------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Raleway', sans-serif; 
	color: var(--black);
	scroll-behavior: smooth;
	background-color: #fffdfa;
}

body, html {
	margin:0;
	padding:0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}


ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* ----------------------------------------
HEADER SECTION 
-----------------------------------------*/

/* Desktop Mode */
@media (min-width: 768px) {

	/* Right-align header*/
    header {
        height: 75px;
		display: flex;
        justify-content: flex-end;
		align-items: center;
		background-color: #295E11;
		
    }

	/* Display the nav items in a row */
	header nav ul {
		display: flex;
		gap: 24px;
		margin-right: 50px;
	}

	/* Style the links in the nav bar */
	header a {
		text-decoration: none;
		color: #ffffff;
		font-size: 1.25em;
	}
	
}


/* ----------------------------------------
HEADER SECTION 
-----------------------------------------*/
#hero-banner {
	/* Sizing */
	width: 100vw;
	height: 100vh;

	/* Change colour for easier formatting */
	background-color: #40466B;  

	/* Flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Adjust personal logo sizing */
.hero-image {
	width: 500px;
	height: auto;
}

.hero-text h1 {
	font-size: 2em;
	font-family: 'Playfair Display', serif;
}

/* ----------------------------------------
PROJECTS SECTION 
-----------------------------------------*/

/* Desktop Mode */
@media (min-width: 768px) {
	
	/* Display first row of projects in a row */
	.firstRow, .secondRow {
		display: flex;
		justify-content: space-between;
	}
}