/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:wght@100;200;300;400;600&display=swap');

:root {
	--green: #44693D;
	/* --purple: #40466B; */
	--purple: #600080;
	--lightbrown: #e4ccc0;
	--white: #fffdfa;
    --grey: #363737;
    --black: #010101;
}


/* ----------------------------------------
CSS RESET
-----------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Raleway', sans-serif; 
	color: var(--black);
	scroll-behavior: smooth;
	background-color: #fffdfa;
}

body, html {
	margin:0;
	padding:0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}


ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* input, */
button,
/* textarea, */
select {
	font: inherit;
}


input, textarea, ::placeholder {
	color: #fffdfa;
	font-size: 1.2 em;
}

footer {
	color: #fffdfa;
}

/* ----------------------------------------
GLOBAL STYLING
-----------------------------------------*/
html h1,h2,h3,h4,h5,h6 {
	color: var(--purple);
	font-family: 'Playfair Display', serif;
}

/* ----------------------------------------
HEADER SECTION 
-----------------------------------------*/

/* Desktop Mode */
@media (min-width: 768px) {

	/* Right-align header*/
    header {
        height: 75px;
		display: flex;
        justify-content: space-between;
		align-items: center;
		background-color: #44693D;
		
    }

	/* Display the nav items in a row */
	header nav ul {
		display: flex;
		gap: 24px;
		margin-right: 50px;
	}

	/* Style the links in the nav bar */
	header a {
		text-decoration: none;
		color: #ffffff;
		font-size: 1.25em;
	}
	
}


/* ----------------------------------------
HEADER SECTION 
-----------------------------------------*/
#hero-banner {
	/* Sizing */
	width: 100vw;
	height: 100vh;

	/* Change colour for easier formatting */
	border: solid 2px #40466B;  

	/* Flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Adjust personal logo sizing */
.hero-image {
	width: 300px;
	height: auto;
}

.hero-text h1 {
	font-size: 2em;
}

/* ----------------------------------------
PROJECTS SECTION 
-----------------------------------------*/

/* Desktop Mode */
@media (min-width: 768px) {
	
	/* Display projects in a 4 x 4 grid */
	.firstRow, .secondRow {
		display: flex;
		justify-content: space-between;
	}
}

/* ----------------------------------------
CONTACT FORM 
-----------------------------------------*/
#contact {
	background-color: #44693D;
}

#contact p , #contact h2 {
	color: var(--white);
}

.smallerTextContact {
	color:bisque;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.contact-info {
    display: flex;
	flex-direction: column;
    padding-right: 48px;
	width: 100%;
	/* top | left & right | bottom */
	/* padding: 50px 100px 50px; */
	/* border: 2px solid red; */
}

/* Desktop Mode
- divide contact section into 2 columns 
- display contact info on the left
- display contact form on the right */

@media (min-width: 768px) {
	
	.contact-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background-color: #44693D;
		padding: 24px;
	}

	.contact-info, .contact-form {
		width: 50%;
		padding: 0px;
	}
}



/* format social icons */
.fa-brands {
	color: #fffdfa;
	padding: 10px;
	font-size:25px;
}

/* display icons in a row */
ul.social-icons li{
	display: inline-block;
	margin: 16px;
}

/* format the form */
.form-input {
	border: 0;
	background: none;
	border-bottom: 1px solid #fffdfa;
}

.contact-form form {
	display: flex;
	flex-direction: column;
}

/* ----------------------------------------
FOOTER 
-----------------------------------------*/

#footer {
	background-color: #44693D;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 0px 0px 25px;
}

/* Footer nav bar in a row*/
.footer-nav ul {
	display: flex;
}

/* Footer nav bar formatting */
.footer-nav ul li a {
	color: #fffdfa;
	text-decoration: none;
	padding-left: 15px;
}